

  input:focus {
    outline: none;
    box-sizing: border-box;
  }



  .cabecalho-inicio {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
   
  }

  #usuario-caixa{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .menu-perfil {
    width: 80vw;
    height: 35px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5%;
    background: white;
  }
   .menu {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    gap: 3px;
    margin-left: 5%;
    margin-top: 5%;
   }
    .menu > div:nth-child(1) {
      width: 30px;
      height: 5px;
      background: black;
      border-radius: 5px;
      transition: all .5s;
    }
      .girarLinhaUm {
        transform: rotate(130deg);
        transition: all .5s;
       margin-top: 5px;
      }

    .menu > div:nth-child(2) {
      width: 30px;
      height: 5px;
      background: black;
      border-radius: 5px;
      transition: all .5s;
    }
      .girarLinhaDois {
        transform: rotate(-130deg);
        transition: all .5s;
        margin-top: -20px;
        
      }
    
    .menu > div:nth-child(3) {
      width: 20px;
      height: 5px;
      background: black;
      border-radius: 5px;
      transition: all .5s;
    }
      .desativarLinhaTres {
        display: none;
      }

  #fotoPerfil {
    width: 40px;
    height: 40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
    right: 10vw;
    top: 2%;
    border-radius: 5px;
    position: absolute;
    background: url('../images/pefil/perfil.jpg') no-repeat;
    background-size: 100%;
  }

  .boas-vindas {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 5%;
  }

  .buscar {
    width: 80vw;
    height: 50px;
    display: grid;
    grid-template-columns:5fr 1fr;
    background: #f9eeee;
    border-radius: 10px;
  }
  .buscar > label {
    position: absolute;
    margin-left: 1em;
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #111;
    transition: .5s all;
  }
    .ativo {
      font-size: 10px!important;
      margin-top: 5px!important;
      transition: .5s all;
    }
   .caixa-de-busca {
    height: 40px;
    margin-top: 10px;
    text-indent: 1em;
    background: none;
    border: none;
    border-radius: 0px 0px 0px 10px;
   }
   .botao-de-busca {
    background: url('../images/icons/buscar.png') no-repeat;
    background-size: 18px;
    background-position: 50% 60%;
    border: none;
    border-radius: 0px 10px 10px 0px;
   }

  .menu-categorias {
    width: 100vw;
  
  }

   .menu-categorias > ul {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style-type: none;
    
  }

   .menu-categorias > ul > li {
    height: 40px; 
    line-height: 40px;
    padding-left:20px;
    padding-right: 20px;
     background: blue;
     border-radius: 5px;
     color: white;
      font-family: Arial, Helvetica, sans-serif;
     font-weight: 550;  
     white-space: nowrap;
    transition: .5s all; 
   }    
   .menu-categorias > ul > li:hover {
    background: white;
    color: blue;
    
    transition: .5s all;
   }


   .feed {
    width: 90vw;
    margin-left: 5vw;
    min-height: 190vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
    overflow-y: scroll;

   }
    .card {
      width: 90vw;
      height: 200px;
      background: #f9eeee;
      border-radius: 10px;
    }

    .menu-navegador {
      width: 100vw;
      height: 70vh;
      background: white;
      position: absolute;
      z-index: 10;
      top: 30vh;
      left: -100vw;
      transition: linear .5s;
      
    }

    .menu-nav {
      width: 80vw;
      list-style:none;
      float:left;
      display: grid;
      grid-template-rows: repeat(2,1fr);
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 10vw;
      font-weight: 800;
      
    }

    

    .menu-nav  li a:hover{
      background:blue;
      color:#fff;

      }

      .menu-nav li a{ 
        color:blue;
        text-decoration:none;
        padding: 20px 20px;
        display:block;
        border-radius: 10px;
          }

      .menu-nav li  ul{
        position:absolute;
        top: 12%;
        width: 70vw;
        left:15vw;
        background-color:#fff;
        display:none;
        transition: linear .5s;
        }
    
        .menu-nav li:hover ul, .menu-nav li.over ul{display:block;}

        .menu-nav li ul li{
          color: blue;
          display:block;
          width:70vw;
          height: 40px;
          line-height: 40px;
          text-indent: 3em;
          margin-top: 5px;
          transition: linear .5s;
          }